@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
.innerWidth {
  @apply 2xl:max-w-[1280px] w-full;
}
.interWidth {
  @apply lg:w-[80%] w-[100%];
}

.paddings {
  @apply px-6 py-12 sm:p-16;
}
.yPaddings {
  @apply py-12 sm:py-16;
}
.xPaddings {
  @apply px-6 sm:px-16;
}
.topPaddings {
  @apply pt-12 sm:pt-16;
}
.bottomPaddings {
  @apply pb-12 sm:pb-16;
}

/* ====================flex style================ */
.flexCenter {
  @apply flex items-center justify-center;
}
.flexStart {
  @apply flex items-center justify-start;
}
.flexEnd {
  @apply flex justify-end;
}
.navPadding {
  @apply pt-[98px];
}
/* ====================flex style================ */

/* =====================Hero Heading================ */
.heroHeading {
  @apply font-extrabold lg:text-[120px] md:text-[80px] sm:text-[60px] text-[44px] lg:leading-[158.4px] md:leading-[114.4px] sm:leading-[74.4px] leading-[64.4px] bg-gradient-to-r from-orange-500 to-teal-500 bg-clip-text text-transparent;
}
.heroD {
  @apply md:w-[212px] sm:w-[80px] w-[60px] md:h-[108px] sm:h-[48px] h-[38px] md:border-[18px] border-[9px] rounded-r-[50px] border-white sm:mx-2 mx-[6px];
}
/* =====================Hero Heading================ */

/* =====================Text Style================ */
.text-gradient {
  @apply text-transparent bg-gradient-to-r from-orange-500 to-black bg-clip-text;
}
/* =====================Text Style================ */
@tailwind utilities;

@layer base {
  body {
    @apply font-body;
  }
}

@layer components {
  .header-link-item {
    @apply text-xs font-medium transition duration-300 opacity-75 cursor-pointer hover:opacity-100;
  }

  .carousel-btn-switch-card {
    @apply absolute z-40 flex h-9 w-9 cursor-pointer items-center justify-center
      rounded-full border-2 border-primary-blue bg-[#ffffff] text-2xl opacity-80 transition duration-100 hover:opacity-100 md:h-12 md:w-12;
  }

  .carousel-btn-switch-card-left {
    @apply right-1/2 top-1/2 translate-x-[-200px] translate-y-[-50%] transform sm:translate-x-[-250px] md:translate-x-[-300px] lg:translate-x-[-350px];
  }

  .carousel-btn-switch-card-right {
    @apply top-1/2 left-1/2 translate-x-[200px] translate-y-[-50%] transform sm:translate-x-[250px] md:translate-x-[300px] lg:translate-x-[350px];
  }

  .carousel-indicator {
    @apply absolute flex items-center justify-center w-24 h-5 space-x-1 transform -translate-x-1/2 cursor-pointer left-1/2 -bottom-4 md:-bottom-10;
  }

  .carousel-indicator-dots {
    @apply w-2 h-2 transition-all duration-200 rounded-full opacity-50 bg-primary-blue hover:w-4 hover:opacity-100;
  }

  .carousel-container {
    @apply relative w-3/6 h-32 sm:h-40 md:h-56;
    perspective: 450px;
    transform-style: preserve-3d;
  }

  .carousel-item {
    @apply absolute h-full w-full cursor-pointer overflow-hidden rounded-3xl drop-shadow-[0_8px_30px_rgb(0,0,0,0.12)] transition-all duration-700 ease-in-out;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Eudoxus Sans', sans-serif;
  scroll-behavior: smooth;
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(295deg 76% 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(125px);
}

.hero-gradient {
  background: linear-gradient(
    97.86deg,
    #a509ff 0%,
    #34acc7 53.65%,
    #a134c7 100%
  );
}

.gradient-02 {
  position: absolute;
  width: 200px;
  height: 438px;
  top: 0px;
  right: 0px;

  background: #7aebfb;
  filter: blur(190px);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-03 {
  position: absolute;
  width: 404px;
  height: 800px;
  left: 20%;
  top: 5%;

  background: rgba(149, 66, 232, 0.35);
  filter: blur(175px);
  transform: rotate(-114.2deg);
}

.gradient-04 {
  position: absolute;
  width: 304px;
  height: 100vh;
  left: 30%;
  top: 10%;

  background: rgba(45, 72, 152, 0.75);
  filter: blur(200px);
  transform: rotate(-53.13deg);
}

.gradient-05 {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.04) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

/* .feedback-gradient {
  position: absolute;
  width: 200px;
  height: 316px;
  left: 0px;
  top: 0px;

  background: #132d3a;
  filter: blur(175px);
} */

.footer-gradient {
  position: absolute;
  width: 500px;
  height: 100px;
  left: 37%;
  bottom: 0;

  background: #65c4fa;
  filter: blur(150px);
}
